@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* colors */
  --color-primary: #dda15e;
  --color-secondary: #606c38;
  --color-accent: #fefae0;
}

* {
  font-family: "Inter", sans-serif;
}

.active {
  @apply font-bold text-primary;
}

.flex-center {
  @apply flex items-center justify-center;
}

.form-input {
  @apply bg-gray-700 text-gray-200 border-0 rounded-md p-2 mb-4 focus:bg-gray-600 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150;
}