@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Inter", sans-serif;
}

.active {
  @apply font-bold text-primary;
}

.flex-center {
  @apply flex items-center justify-center;
}

.form-input {
  @apply bg-gray-700 text-gray-200 border-0 rounded-md p-2 mb-4 focus:bg-gray-600 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150;
}

.add-form-input {
  @apply w-full bg-gray-800 rounded-md border-gray-700 text-white px-2 py-2
}