@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* colors */
  --color-primary: #dda15e;
  --color-secondary: #606c38;
  --color-accent: #fefae0;
}

* {
  font-family: "Inter", sans-serif;
}

.active {
  @apply bg-gray-200;
}

.flex-center {
  @apply flex items-center justify-center;
}